body{
    background-color: rgb(20, 20, 20);
    margin: 0;
  padding: 0;
}
.nav{
  
  height: 15vh;
  background-color: rgb(0, 0, 0);
  color: wheat;
  box-sizing: border-box;
  

}
.nav h3{
    padding: 0;
    margin: 0;
}

nav .name{
    padding-left: 25px;
     background: linear-gradient(90deg, #ff0000 40%,
      #0392d9 80%
     );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family:cursive;
}

.nav nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(24, 23, 23);
}

.nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
    padding-right: 50px;
}
.nav ul li{
    padding: 7px;
   
}

.nav{
    display: inline;
}

.nav ul li:hover{
    background-color: rgba(189, 187, 187, 0.6);
}

.c{
    cursor: pointer;
 background-color: rgb(189, 187, 187,0.6);
    border-radius: 10px;
}

/* CENTER CONTENT */
.centerName{
    text-align: center;
    margin-top: 10%;
}

.centerName h1{
    background: linear-gradient(90deg, #0392d9 40%, #ff0000 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 45px;
}

.centerName p{
    color: white;
    font-size: 18px;
}

/* BUTTONS */
.button{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 25px;
}

.button button{
    background-color: rgb(20, 20, 20);
    padding: 12px 40px;
    color: rgb(230, 230, 230);
    border: 1px solid #aa8d8d; 
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}

.button button:hover{
    background-color: #0392d9;
    border-color: #ff0000;
    color: #ffffff;
    transform: scale(1.08);
}

.navimg{
    display: none;
}
.sidebar{
    display: none;
}

/* For mobile phones */
@media screen and (max-width: 600px) {
     .nav {
        
        padding: 10px 0;
    }
    .nav nav{
        height: 10vh;
    }
    nav{
        display: flex;
       
    }
    
    .name{
        font-size: 12px;
    }
    .navimg{
        display: block;
        margin-right: 7%;
        width: 8%;
    }

    .nav ul {
        display: none;
        gap: 10px;
        padding-right: 0;
        text-align: center;
    }


    .button {
        flex-direction: column;
        gap: 12px;
        margin-top: 10%;
    }

    .button button {
        width: 40%;
        padding: 12px;
        font-size: 10px;
        margin-top: 2%;
       
    }

    .centerName h1 {
        font-size: 1.5rem;
        margin-top: 23%;
        margin-right: 2%;
        
    }
  
    .centerName p {
        margin-right: 2%;
        font-size: 0.7rem;
        margin-top: 10%;
    }
    .navbox{
        background-color: black;
        margin-left: 50%;
        margin-top: 5%;
        width: 50%;
        height: 100vh;
    }
    .sidebar img{
        margin-left:70% ;
        display: block;
    }
     .sidebar {
        display: block; /* show on mobile */
        position: fixed;
        top: 0;
        right:-250px; /* hidden initially */
        width: 250px;
        height: 100%;
        background-color: #222;
        padding-top: 60px;
        transition: right 0.3s ease;
        z-index: 1000;
    }

    .sidebar.active {
        right: 0; /* slide in when active */
    }
    .sidebar ul {
        display: block;
        list-style: none;
        padding: 0;
         margin-right: 20%;
        
    }

    .sidebar ul li {
        margin: 20px 0;
        text-align: center;
        color: white;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        transition: color 0.3s;
    }

    .sidebar ul li:hover {
        color: #ff6600;
    }
    
}

