body{
    background-color: rgb(20, 20, 20);
    margin: 0;
    padding: 0;
}


.nav{
    height: 15vh;
    background-color: rgb(0, 0, 0);
    color: wheat;
    box-sizing: border-box;
}

.nav h3{
    padding: 0;
    margin: 0;
}

nav .name{
    padding-left: 25px;
    background: linear-gradient(90deg, #ff0000 40%, #0392d9 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: cursive;
}

.nav nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(24, 23, 23);
}

.nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
    padding-right: 50px;
}

.nav ul li{
    padding: 7px;
}

.nav{
    display: inline;
}



h1{
    text-align: center;
    background: linear-gradient(90deg, #ff0000 20%, #0392d9 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.a, .b, .c, .d{
    cursor: pointer;
}

.a:hover, .b:hover, .c:hover, .d{
    background-color: rgba(189, 187, 187, 0.6);
    border-radius: 10px;
}


.boxes{
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
}



.box1, .box2, .box3, .box4{
    background-color: rgb(20, 20, 20);
    border: 2px solid #fff;
    border-radius: 10px;
    color: white;
    padding: 20px;
}

.navimg{
    display: none;
}

.sidebar{
    display: none;
}



.box1 h2, .box2 h2, .box3 h2, .box4 h2{
    background: linear-gradient(90deg, #ff0000 20%, #0392d9 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 20px;
    margin-top: 25px;
}



@media screen and (max-width: 600px) {
     .nav {
        
        padding: 10px 0;
    }
    .nav nav{
        height: 10vh;
        position: fixed;
        top: 0;
        width: 100%;
    }
    nav{
      
       
    }
    
    .name{
        font-size: 12px;
    }
    .navimg{
        display: block;
        margin-right: 7% ;
        width: 8%;
    }

    .nav ul {
        display: none;
        gap: 10px;
        padding-right: 0;
        text-align: center;
    }


    .button {
        flex-direction: column;
        gap: 12px;
        margin-top: 10%;
    }

    .button button {
        width: 40%;
        padding: 12px;
        font-size: 10px;
        margin-left: 28%;
        margin-top: 2%;
       
    }

    .centerName h1 {
        font-size: 1rem;
        margin-top: 23%;
        margin-right: 2%;
        
    }
  
    .centerName p {
        margin-right: 2%;
        font-size: 0.6rem;
        margin-top: 10%;
    }
    .navbox{
        background-color: black;
        margin-left: 50%;
        margin-top: 5%;
        width: 50%;
        height: 100vh;
    }
    .sidebar img{
       
        margin-left:70%;
        display: block;
    }
     .sidebar {
        display: block; /* show on mobile */
        position: fixed;
        top: 0;
        right:-250px; /* hidden initially */
        width: 250px;
        height: 100%;
        background-color: #222;
        padding-top: 60px;
        transition: right 0.3s ease;
        z-index: 1000;
    }

    .sidebar.active {
        right: 0; /* slide in when active */
    }
    .sidebar ul {
        margin-right: 20%;
        display: block;
        list-style: none;
        padding: 0;
    }

    .sidebar ul li {
        margin: 20px 0;
        text-align: center;
        color: white;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        transition: color 0.3s;
    }

    .sidebar ul li:hover {
        color: #ff6600;
    }

    .container h1{
        margin-top: 20%;
        top: 0;
        margin-left: 5%;
     }
.boxes {
       padding: 20px;
        grid-template-columns: 1fr; /* Single column for projects */
        gap: 15px;
    }
 

}

