body{
    background-color: rgb(20, 20, 20);
    margin: 0;
  padding: 0;
}
.nav{
  
  height: 15vh;
  background-color: rgb(0, 0, 0);
  color: wheat;
  box-sizing: border-box;
  

}
.nav h3{
    padding: 0;
    margin: 0;
}

nav .name{
    padding-left: 25px;
     background: linear-gradient(90deg, #ff0000 40%,
      #0392d9 80%
     );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family:cursive;
}

.nav nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(24, 23, 23);
}

.nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
    padding-right: 50px;
}
.nav ul li{
    padding: 7px;
}


.nav{
    display: inline;
}



.b{
cursor: pointer;
 background-color: rgb(189, 187, 187,0.6);
    border-radius: 10px;
}

.a:hover, .c:hover, .d:hover{
    background-color: rgb(189, 187, 187,0.6);
    border-radius: 10px;
}

.c,.d,.a{
cursor: pointer;
}

h1{
    text-align: center;
background: linear-gradient(90deg, #0392d9 40%, #ff0000 67%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
 
}

table {
  width: 95%;
  height: 40vh;
  margin: 20px auto;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

th{
  padding: 10px;
  text-align: left;
  color: wheat;
}

td{
    background: rgb(138, 194, 219);
    color: black;
    padding: 10px;
}

thead {
  background-color: #0392d9;
  color: white;
}

.left{
    height: 50vh;
    width: 70;
    border: 2px solid#ffff;
    color: white;
}

.navimg{
    display: none;
}
.sidebar{
    display: none;
}


/* --------- MOBILE FIX ONLY (NO DESKTOP CHANGES) --------- */
@media screen and (max-width: 600px) {

    /* Keep your navbar fixed and clean */
    .nav {
        padding: 10px 0;
        height: auto;
    }

    .nav nav{
        height: 10vh;
        position: fixed;
        top: 0;
        width: 100%;
        left: 0;
        z-index: 1000;
        background-color: rgb(24,23,23);
        padding: 0 10px;
    }

    /* Make name smaller */
    .name{
        font-size: 13px !important;
        padding-left: 10px !important;
    }

    /* Show hamburger icon */
    .navimg{
        display: block;
        margin-right: 15px;
        width: 30px;
        cursor: pointer;
    }

    /* Hide desktop menu */
    .nav ul {
        display: none;
    }

    /* Sidebar menu */
    .sidebar {
        display: block;
        position: fixed;
        top: 0;
        right: -250px;
        width: 250px;
        height: 100%;
        background-color: #222;
        padding-top: 60px;
        transition: right 0.3s ease;
        z-index: 2001;
    }

    .sidebar.active {
        right: 0;
    }

    .sidebar img{
        display: block;
        width: 25px;
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
    }

    .sidebar ul {
        display: block;
        padding: 0;
        list-style: none;
        text-align: center;
    }

    .sidebar ul li {
        margin: 20px 0;
        font-size: 18px;
        color: white;
        cursor: pointer;
    }

    /* Title adjustment so it doesn't hide behind fixed nav */
    h1{
        margin-top: 100px;
        font-size: 1.3rem;
    }

    /* Left section full width */
    .left{
        margin-top: 20px;
        width: 100% !important;
        height: auto;
        border: none;
    }

    /* Table responsive */
    table {
        width: 100%;
        font-size: 0.8rem;
        margin-top: 10px;
    }

    th, td {
        padding: 7px;
    }
}










