body{
    background-color: rgb(20, 20, 20);
    margin: 0;
  padding: 0;
}
.nav{
  
  height: 15vh;
  background-color: rgb(0, 0, 0);
  color: wheat;
  box-sizing: border-box;
  

}
.nav h3{
    padding: 0;
    margin: 0;
}

nav .name{
    padding-left: 25px;
     background: linear-gradient(90deg, #ff0000 40%,
      #0392d9 80%
     );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family:cursive;
}

.nav nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(24, 23, 23);
}

.nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
    padding-right: 50px;
}
.nav ul li{
    padding: 7px;
   
}

.nav{
    display: inline;
}

.centerName{
    text-align: center;
}
.centerName h1{

 background: linear-gradient(90deg,#0392d9 42.5% ,
  #ff0000 20%);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 margin-top: 15%;
}
.centerName p{
    color: white;
    font-size: large;
}
.button{
    display: flex;
    justify-content: center;
    gap: 30px;
}
 .button button{
    background-color: rgb(20, 20, 20);
    width: 15%;
    padding: 12px 24px;
    color: rgb(207, 174, 174);
    border: 1px solid #aa8d8d; 
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button button:hover{
    background-color: #0392d9;
    border: 1px solid #ff0000;
    color: red;
    font-size: 16px;
    padding: 13px 26px;
    width: 18%;
    transform: scale(1.05);
    font: bold;
  
}

.a{
    cursor: pointer;
    background-color: rgb(189, 187, 187,0.6);
    border-radius: 10px;
}
.b{
cursor: pointer;
text-decoration: none;
color: inherit;
}

.b:hover{
    background-color: rgb(189, 187, 187,0.6);
    border-radius: 10px;
}

.c{
cursor: pointer;
}

.c:hover{
    background-color: rgb(189, 187, 187,0.6);
    border-radius: 10px;
}

.d{
cursor: pointer;
}

.d:hover{
    background-color: rgb(189, 187, 187,0.6);
    border-radius: 10px;
}

.navimg{
  display: none;
}

/* For tablets and small screens */
@media screen and (max-width: 1024px) {
    .nav ul {
        gap: 15px;
        padding-right: 20px;
    }

    .button button {
        width: 40%;
        padding: 10px 20px;
        font-size: 14px;
    }

    .centerName h1 {
        font-size: 2rem;
    }

    .centerName p {
        font-size: 1rem;
    }
    
    .boxes {
        grid-template-columns: 1fr; /* Single column for projects */
        gap: 15px;
    }

    .box1, .box2, .box3 {
        width: 100%;
        height: auto;
    }
}

/* For mobile phones */
@media screen and (max-width: 600px) {
    .nav {
        
        padding: 10px 0;
    }
    .nav nav{
        height: 10vh;
    }
    nav{
        display: flex;
       
    }
    
    .name{
        font-size: 12px;
    }
    .navimg{
        display: block;
        margin-right: 7%;
        width: 8%;
    }

    .nav ul {
        display: none;
        gap: 10px;
        padding-right: 0;
        text-align: center;
    }


    .button {
        flex-direction: column;
        gap: 12px;
        margin-top: 10%;
    }

    .button button {
        width: 40%;
        padding: 12px;
        font-size: 10px;
        margin-left: 28%;
        margin-top: 2%;
       
    }

    .centerName h1 {
        font-size: 1rem;
        margin-top: 23%;
        margin-right: 2%;
        
    }
  
    .centerName p {
        margin-right: 2%;
        font-size: 0.6rem;
        margin-top: 10%;
    }
}






